{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <h1>About VOCAB-MEMOPAD</h1>
    <br>

    <h4><p>
        VOCAB-MEMOPAD is a simple web app designed to quickly look up and save the translations of words/phrases and review them online.
        <br>    
        Application uses Google Translate and supports translations across 15 different languages, but UI is currently only in English.
        <br>
        Currently supported languages are:
        <br>
        English, Esperanto, Japanese, Latin, Spanish, German, French, Italian,
        <br>
        Russian, Arabic, Indonesian, Malaysian, Thai, Vietnamese, Tagalog 
        <br>
        Application UI currently only designed with desktop browsers in mind, and is not mobile-friendly.
        <br>
    </p></h4>
    <br>


    <div>
        <a class="btn btn-secondary" href="/">Return</a>
    </div>
    <br>


{% endblock %}
