{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <h1>About VOCAB-MEMOPAD</h1>
    <br>

    <div>
        <p>
            VOCAB-MEMOPAD is a simple web app designed to quickly look up and save the translations of words/phrases and review them online.
            <br>    
            Application uses Google Translate and supports translations across 15 different languages, but UI is currently only in English.
            <br>
            Currently supported languages are:

            <table align="center" class="table table-bordered" style="width:40%">
                <thead>
                    <tr>
                        <th>Currently Supported Languages:</th>
                        <th>Translation API Used: </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>English</th>
                        <th>Google Translate</th>
                    </tr>
                    <tr>
                        <th>Esperanto</th>
                        <th>Google Translate</th>
                    </tr>                
                    <tr>   
                        <th>Japanese</th>
                        <th>Google Translate</th>
                    </tr>
                    <tr>   
                        <th>Latin</th>
                        <th>Google Translate</th>
                    </tr> 
                    <tr>
                        <th>Spanish</th>
                        <th>Google Translate</th>
                    </tr>   
                    <tr>
                        <th>German</th>
                        <th>Google Translate</th>
                    </tr>   
                    <tr>
                        <th>French</th>
                        <th>Google Translate</th>
                    </tr> 
                    <tr>
                        <th>Italian</th>
                        <th>Google Translate</th>
                    </tr>   
                    <tr>
                        <th>Russian</th>
                        <th>Google Translate</th>
                    </tr>   
                    <tr>
                        <th>Arabic</th>
                        <th>Google Translate</th>
                    </tr> 
                    <tr>
                        <th>Indonesian</th>
                        <th>Google Translate</th>
                    </tr>   
                    <tr>
                        <th>Malaysian</th>
                        <th>Google Translate</th>
                    </tr> 
                    <tr>
                        <th>Thai</th>
                        <th>Google Translate</th>
                    </tr> 
                    <tr>
                        <th>Vietnamese</th>
                        <th>Google Translate</th>
                    </tr>   
                    <tr>
                        <th>Tagalog</th>
                        <th>Google Translate</th>
                    </tr> 
                </tbody>                
            </table>

            <br>
            Application UI currently only designed with desktop browsers in mind, and is not mobile-friendly.
            <br>
            DISCLAIMER: UI elements and underlying code borrow from <a href="https://cs50.harvard.edu/x/2021/">CS50's</a> <a href="https://cs50.harvard.edu/x/2021/psets/9/finance/">Finance problem set</a>.            
            <br>
        </p>
    </div>

    <br>


    <div>
        <a class="btn btn-secondary" href="/">Return</a>
    </div>
    <br>


{% endblock %}
