{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <h1>About VOCAB-MEMOPAD</h1>
    <br>

    <div>
        <p>
            <h5>
                VOCAB-MEMOPAD is a simple web app designed to quickly look up and save the translations of words/phrases and review them online.
            </h5>
            <br>    
            Application primarily uses Google Translate (via the <a href="https://py-googletrans.readthedocs.io/en/latest/">googletrans python library</a>) 
            and supports translations across 15 different languages, but UI is currently only available in English.
            <br>

            <table align="center" class="table table-bordered" style="width:40%">
                <thead>
                    <tr>
                        <th>Supported Languages:</th>
                        <th>Translation API Used: </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>English</th>
                        <td>Google Translate</td>
                    </tr>
                    <tr>
                        <th>Esperanto</th>
                        <td>Google Translate</td>
                    </tr>                
                    <tr>   
                        <th>Japanese</th>
                        <td>Google Translate</td>
                    </tr>
                    <tr>   
                        <th>Latin</th>
                        <td>Google Translate</td>
                    </tr> 
                    <tr>
                        <th>Spanish</th>
                        <td>Google Translate</td>
                    </tr>   
                    <tr>
                        <th>German</th>
                        <td>Google Translate</td>
                    </tr>   
                    <tr>
                        <th>French</th>
                        <td>Google Translate</td>
                    </tr> 
                    <tr>
                        <th>Italian</th>
                        <td>Google Translate</td>
                    </tr>   
                    <tr>
                        <th>Russian</th>
                        <td>Google Translate</td>
                    </tr>   
                    <tr>
                        <th>Arabic</th>
                        <td>Google Translate</td>
                    </tr> 
                    <tr>
                        <th>Indonesian</th>
                        <td>Google Translate</td>
                    </tr>   
                    <tr>
                        <th>Malaysian</th>
                        <td>Google Translate</td>
                    </tr> 
                    <tr>
                        <th>Thai</th>
                        <td>Google Translate</td>
                    </tr> 
                    <tr>
                        <th>Vietnamese</th>
                        <td>Google Translate</td>
                    </tr>   
                    <tr>
                        <th>Tagalog</th>
                        <td>Google Translate</td>
                    </tr> 
                </tbody>                
            </table>

            <br>
            Application UI currently only designed with desktop browsers in mind, and is not mobile-friendly.
            <br>
        </p>
        <br>

        <p>
            <h5>DISCLAIMER:</h5> 
            UI elements and underlying code borrow from <a href="https://cs50.harvard.edu/x/2021/">CS50's</a> <a href="https://cs50.harvard.edu/x/2021/psets/9/finance/">Finance problem set</a>.            
        </p>
        <br>
    </div>
    <br>

    <div>
        <a class="btn btn-secondary" href="/">Return</a>
    </div>
    <br>


{% endblock %}