{% extends "layout.html" %}

{% block title %}
    Change Default Settings
{% endblock %}

{% block main %}
    <h1>Change Default Settings</h1>
    <br>

    <table align="center" class="table table-bordered" style="width:40%">
        <thead>
            <tr>
                <th>Default Original Language: </th>
                <th> {{ all_languages[session.user_orglang] }} </th>
            </tr>

            <tr>
                <th>Default Target Language: </th>
                <th> {{ all_languages[session.user_tgtlang] }} </th>
            </tr>    
            
            <tr>
                <th>Auto-Translate: </th>
                <th> {{ session.user_autotrans }} </th>
            </tr>   
            
            <tr>
                <th>Default Visible Pinned Entries : </th>
                <th> {{ session.user_recallpinned }} </th>
            </tr> 
            
            <tr>
                <th>Default Visible All Entries : </th>
                <th> {{ session.user_recallall }} </th>
            </tr> 
        </thead>
    </table>
    <br>

    <form action="/changedefault" method="post" class="row row-cols-lg-auto g-3 align-items-center">
        <div class="container-sm align-items-center">
            <br>
            
            <!--change input language-->
            <div class="form-group align-items-center">
                <div class="dropdown">
                    <label for="originlang">
                        <h5>Change Default Input Language</h5>                        
                    </label>
                    <select class="form-select firstlang" aria-label="Input Language" name="originlang" id="originlang" required>
                        <option selected disabled value="">Select Input Language</option>
                        {% for key in all_languages.keys() %}
                            <option value="{{key}}">{{  all_languages[key]}}</option>
                        {% endfor %}
                    </select>
                </div>                
                <script>
                    function changeoriginlang() {
                        alert("changeoriginlang triggered")
                        document.getElementById("originlang").value = "{{session.user_orglang}}";
                    }
                </script>
            </div>
                            
            <!-- swap language, script from: https://stackoverflow.com/questions/46018835/how-to-swap-selected-option-in-2-select-elements/46019430 -->
            <button type="button" class="btn-sm btn-primary my-3" id="swapbox" onclick="swapper()">
                ▲▼               
            </button>
            <script>
                function swapper () {
                    var tmpval=$(".firstlang").val();
                    $(".firstlang").val($(".secondlang").val());
                    $(".secondlang").val(tmpval);
            }
            </script>
            <br>

            <!--change target language-->
            <div class="form-group align-items-center">
                <div class="dropdown">
                    <label for="targetlang">
                        <h5>Change Default Translation Language</h5>
                    </label>
                    <select class="form-select secondlang" aria-label="Translation Language" name="targetlang" id="targetlang" required>
                        <option selected disabled value="">Select Translation Language</option>
                        {% for key in all_languages.keys() %}
                            <option value="{{key}}">{{  all_languages[key]}}</option>
                        {% endfor %}
                    </select>
                </div>                                
                <script>
                    function changetargetlang() {
                        alert("changetargetlang triggered")
                        document.getElementById("targetlang").value = "{{session.user_tgtlang}}";
                    }
                </script>
            </div>
            <br>

            <!--check auto-translate -->
            <div class="form-group align-items-center">
                <div class="form-check form-switch">
                    <label class="form-check-label" for="check_autotrans">
                        <h5>Automatically translate input?</h5>
                    </label>
                    <input class="form-check-input" type="checkbox" id="autotrans" name="autotrans" value="true" checked>                    
                </div>
            </div>
            <br>

            <!-- change visible pinned entries-->
            <div class="form-group align-items-center">
                <div class="dropdown">
                    <label for="Visible Pinned">
                        <h5>Default Visible Pinned Entries </h5>
                    </label>                        
                    <select class="form-select" aria-label="Visible Pinned" id="visiblepinned" name="visiblepinned" required>
                        <option selected value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </div>
            </div>
            <script>
                function changevisiblepinned() {
                    alert("changevisiblepinned triggered")
                    document.getElementById("visiblepinned").value = "{{session.user_recallpinned}}";
                }
            </script>
            <br>
            
            <!-- change visible all saved entries-->
            <div class="form-group align-items-center">
                <div class="dropdown">
                    <label for="Visible All Saved">
                        <h5>Default Visible All Saved Entries </h5>
                    </label>                        
                    <select class="form-select" aria-label="Visible All Saved" id="visiblesaved" name="visiblesaved" required>
                        <option value="10">10</option>
                        <option selected value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </div>
            </div>
            <script>
                function changevisiblesaved() {
                    alert("changevisiblesaved triggered")
                    document.getElementById("visiblesaved").value = "{{session.user_recallall}}";
                }
            </script>
            <br>

            <button class="btn btn-primary" type="submit">Change Default Settings</button>
        </div>        
    </form>

    <form action="/profile" method="get" class="row row-cols-lg-auto g-3 align-items-center">
        <div class="container-sm align-items-center">            
            <br>
            <button class="btn btn-secondary" type="submit">Cancel Changes</button>
        </div>
    </form>

    <!--swap autotranslate, moved out of form scope-->
    {% if not session.user_autotrans %}
    <script>
        function changeautotrans() {
            document.getElementById("autotrans").removeAttribute("checked"); 
            }
    </script>
    {% endif %}

    <!--implement swap to user default settings-->
    <script>
        window.onload=function(){
            changeoriginlang();
            changetargetlang();
            changeautotrans();
            changevisiblepinned();
            changevisiblesaved();
            }
    </script>

{% endblock %}