{% extends "layout.html" %}

{% block title %}
    Delete Entry
{% endblock %}

{% block main %}
    <h1>Confirm Deletion of Word/Phrase Entry?</h1>
    <br>

    <table align="center" id="topsaved" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Input Word/Phrase</th>
                <th>Input Language</th>
                <th>Translated Word/Phrase</th>
                <th>Translated Language</th>
                <th>Date/Time Saved</th>
                <th>Difficulty Rating</th>                
                <th>Entry Pinned?</th>                
                <th>Entry Edited?</th>
            </tr>
        </thead>
        <tbody>
            {% for deletiontable in deletiontable %}
            <tr>
                <td> {{ deletiontable.strinput }}  </td>
                <td> {{ deletiontable.langinput }} </td>
                <td> {{ deletiontable.strtrans }} </td>
                <td> {{ deletiontable.langtrans }} </td>                
                <td> 
                    <time datetime="{{ deletiontable.time }}">
                        {{ deletiontable.time }}                          
                    </time>
                </td>
                <td> {{ deletiontable.rating }} </td>                
                <td> {{ deletiontable.pin }} </td>
                <td> {{ deletiontable.edit }} </td>
            </tr>         
        </tbody>
    </table>
    <br><br>

    <form action="/deletion" method="post">
        <button type="submit" name="confirmdelete" class="btn btn-danger" value="{{deletiontable.wordid}}">Confirm Delete Word</button>
    </form>
    {% endfor %}
    <br>
    
    <form action="/" method="get">
        <button type="submit" class="btn btn-secondary">Cancel Action</button>
    </form>        
{% endblock %}