{% extends "layout.html" %}

{% block title %}
    Delete Entry
{% endblock %}

{% block main %}
    <h1>Confirm Deletion of Word/Phrase Entry?</h1>
    <br>
    <table align="center" id="topsaved" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Input Word/Phrase</th>
                <th>Input Language</th>
                <th>Translated Word/Phrase</th>
                <th>Translated Language</th>
                <th>Date/Time Saved</th>
                <th>Difficulty Rating</th>
            </tr>
        </thead>
        <tbody>
            {% for deletiontable in deletiontable %}
            <tr>
                <td> {{ deletiontable.strinput }}  </td>
                <td> {{ deletiontable.langinput }} </td>
                <td> {{ deletiontable.strtrans }} </td>
                <td> {{ deletiontable.langtrans }} </td>
                <td> {{ deletiontable.time }} </td>
                <td> {{ deletiontable.rating }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <form action="/deletion" method="post">
        <button type="submit" name="confirmdelete" class="btn btn-danger" value="{{deletiontable.wordid}}">Confirm Delete Word</button>
    </form>
    <form action="/" method="get">
        <button type="submit" class="btn btn-secondary">Cancel Action</button>
    </form>        
    <!--
    <form action="/deletion" method="post" class="row row-cols-lg-auto g-3 align-items-center">
        <div class="container-sm align-items-center">
            <button class="btn btn-primary" type="submit" name="confirmdelete" value="{{deletiontable.wordid}}">Confirm Delete Word</button>
        </div>
    </form>
    <form action="/" method="get" class="row row-cols-lg-auto g-3 align-items-center">
        <div class="container-sm align-items-center">
            <br>
            <button class="btn btn-secondary" type="submit">Cancel Action</button>
        </div>
    </form>
    -->
{% endblock %}
