{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <script>
    $(document).ready(function() {
        $('#toppinned').DataTable();
    } );
    $(document).ready(function() {
        $('#topsaved').DataTable();
    } );
    </script>
    <h1>Memopad Statistics for {{ session.user_name }}</h1>
    <br>
    <table align="center" class="table table-bordered" style="width:40%">
        <thead>
            <tr>
                <th>Default Original Language: </th>
                <th> {{ session.user_orglang }} </th>
            </tr>
            <tr>
                <th>Default Target Language: </th>
                <th> {{ session.user_tgtlang }} </th>
            </tr>
            <tr>
                <th>Pinned Word/Phrase Entry Count: </th>
                <th> {{ session.user_pincount }} </th>
            </tr>
            <tr>
                <th>Total Word/Phrase Entry Count: </th>
                <th> {{ session.user_wordcount }} </th>
            </tr>    
        </thead>
    </table>
    <br><br>
    <h1>Top 10 Pinned Word/Phrase Entries</h1>
    <br>
    <table align="center" id="toppinned" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Input Word/Phrase</th>
                <th>Input Language</th>
                <th>Translated Word/Phrase</th>
                <th>Translated Language</th>
                <th>Date/Time Saved</th>
                <th>Difficulty Rating</th>
            </tr>
        </thead>
        <tbody>
            {% for pinvocabtable in pinvocabtable %}
            <tr>
                <td> {{ pinvocabtable.strinput }}  </td>
                <td> {{ pinvocabtable.langinput }} </td>
                <td> {{ pinvocabtable.strtrans }} </td>
                <td> {{ pinvocabtable.langtrans }} </td>
                <td> {{ pinvocabtable.time }} </td>
                <td> {{ pinvocabtable.rating }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br><br>
    <h1>Top 30 Unpinned Saved Word/Phrase Entries </h1>
    <br>
    <table align="center" id="topsaved" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Input Word/Phrase</th>
                <th>Input Language</th>
                <th>Translated Word/Phrase</th>
                <th>Translated Language</th>
                <th>Date/Time Saved</th>
                <th>Difficulty Rating</th>
                <th>Delete:</th>
            </tr>
        </thead>
        <tbody>
            {% for allvocabtable in allvocabtable %}
            <tr>
                <td> {{ allvocabtable.strinput }}  </td>
                <td> {{ allvocabtable.langinput }} </td>
                <td> {{ allvocabtable.strtrans }} </td>
                <td> {{ allvocabtable.langtrans }} </td>
                <td> {{ allvocabtable.time }} </td>
                <td> {{ allvocabtable.rating }} </td>
                <td>  
                    <form action="/delete" method="post">
                        <button type="submit" class="btn btn-warning" value="{{ allvocabtable.wordid }}">DELETE</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <h2>
        Server Date/Time is {{ session.current_time }}
    </h2>

{% endblock %}