{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <!-- NOTE/TODO: ADD JAVASCRIPT FUNCTIONALITY FOR SORTING:
        https://mdbootstrap.com/docs/b4/jquery/tables/sort/
        https://stackoverflow.com/questions/31888566/sort-table-rows-in-bootstrap
    -->
    <h1>Memopad Statistics for {{ session.user_name }}</h1>
    <br>
    <table align="center">
        <thead>
            <tr>
                <th>Original Language: </th>
                <th> {{ session.user_orglang }} </th>
            </tr>
            <tr>
                <th>Target Language: </th>
                <th> {{ session.user_tgtlang }} </th>
            </tr>
            <tr>
                <th>Total Word/Phrase Entry Count: </th>
                <th> {{ session.user_wordcount }} </th>
            </tr>
            <tr>
                <th>Pinned Word/Phrase Entry Count: </th>
                <th> {{ session.user_pincount }} </th>
            </tr>
        </thead>
    </table>
    <br><br>
    <h1>Top 10 Pinned Word/Phrase Entries</h1>
    <br>
    <table align="center">
        <thead>
            <tr>
                <th>Input Word/Phrase</th>
                <th>Input Language</th>
                <th>Translated Word/Phrase</th>
                <th>Translated Language</th>
                <th>Date/Time Saved</th>
                <th>Difficulty Rating</th>
            </tr>
        </thead>
        <tbody>
            <!-- {% for var in var %} -->
            <tr>
                <td> {{ vocabtable.strinput }}  </td>
                <td> {{ vocabtable.langinput }} </td>
                <td> {{ vocabtable.strtrans }} </td>
                <td> {{ vocabtable.lantrans }} </td>
                <td> {{ vocabtable.time }} </td>
                <td> {{ vocabtable.rating }} </td>
            </tr>
            <!-- {% endfor %} -->
        </tbody>
    </table>
    <br><br>
    <h1>Top 30 Unpinned Saved Word/Phrase Entries </h1>
    <br>
    <table align="center">
        <thead>
            <tr>
                <th>Input Word/Phrase</th>
                <th>Input Language</th>
                <th>Translated Word/Phrase</th>
                <th>Translated Language</th>
                <th>Date/Time Saved</th>
                <th>Difficulty Rating</th>
            </tr>
        </thead>
        <tbody>
            <!-- {% for var in var %} -->
            <tr>
                <td> {{ vocabtable.strinput }}  </td>
                <td> {{ vocabtable.langinput }} </td>
                <td> {{ vocabtable.strtrans }} </td>
                <td> {{ vocabtable.lantrans }} </td>
                <td> {{ vocabtable.time }} </td>
                <td> {{ vocabtable.rating }} </td>
            </tr>
            <!-- {% endfor %} -->
        </tbody>
    </table>
    <br>
    <h2>
        Server Date/Time is {{ session.current_time }}
    </h2>


{% endblock %}
