{% extends "layout.html" %}

{% block title %}
    Input Entry
{% endblock %}

{% block main %}
    <h1>Type in word/phrase for translation and addition</h1>
    <br><br>
    <!--TODO: design logic for defaults (might need JS)-->
    <form action="/input" method="post" class="row row-cols-lg-auto g-3 align-items-center">
        <div class="container-sm align-items-center">
            <div class="form-group align-items-center">

                <label for="textinput">
                    <h5>Type In Word/Phrase</h5>                        
                </label>
                <br>

                <input autocomplete="off" autofocus class="form-control form-control-lg" id="textinput" name="textinput" placeholder="Type in Word/Phrase" type="text" required>
                <br><br>
                
                <!--change input language-->
                <div class="dropdown">
                    <label for="originlang">
                        <h5>Select Input Language</h5>                        
                    </label>
                    <br>
                    <select class="form-select firstlang" aria-label="Input Language" name="originlang" id="originlang">
                        <option selected disabled>Default Input Language</option>
                        {% for key in all_languages.keys() %}
                            <option value="{{key}}">{{  all_languages[key]}}</option>
                        {% endfor %}
                    </select>
                </div>
                <script>
                    function changeoriginlang() {
                    document.getElementById("originlang").value = "{{session.user_orglang}}";
                    }
                </script>
                
                <!-- swap language, script from: https://stackoverflow.com/questions/46018835/how-to-swap-selected-option-in-2-select-elements/46019430 -->
                <button class="select-swap btn-sm btn-primary my-3">
                    ▲▼               
                </button>
                <script>
                    $(document).ready(function() {
                    $(".select-swap").on('click', function (ev) {
                        swaper();
                    });
                });

                function swaper () {
                    var co=$(".firstlang").val();
                    $(".firstlang").val($(".secondlang").val());
                    $(".secondlang").val(co);
                }
                </script>
                <br>
                
                <!--change target language-->
                <div class="dropdown">
                    <label for="targetlang">
                        <h5>Select Translation Language</h5>                        
                    </label>
                    <br>
                    <select class="form-select secondlang" aria-label="Translation Language" name="targetlang" id="targetlang">
                        <option selected disabled>Default Translation Language</option>
                        {% for key in all_languages.keys() %}
                            <option value="{{key}}">{{  all_languages[key]}}</option>
                        {% endfor %}
                    </select>
                    </select>
                </div>
                <script>
                    function changetargetlang() {
                    document.getElementById("targetlang").value = "{{session.user_tgtlang}}";
                    }
                </script>   
                <br>
                
                <!--check auto-translate -->
                <div class="form-group align-items-center">
                    <div class="form-check form-switch">
                        <label class="form-check-label" for="check_autotrans">
                            <h5>Translate input?</h5>
                        </label>
                        <input class="form-check-input" type="checkbox" id="autotrans" name="autotrans" value="true" checked>                    
                    </div>
                </div>

            </div>
            <br><br>

            <button class="btn btn-primary" type="submit">Search Word/Phrase</button>
        </div>        
    </form>
    
    <form action="/" method="get" class="row row-cols-lg-auto g-3 align-items-center">
        <div class="container-sm align-items-center">            
            <br>
            <button class="btn btn-secondary" type="submit">Cancel Search</button>
        </div>
    </form>

    <!--swap autotranslate, moved out of form scope-->
    {% if not session.user_autotrans %}
    <script>
        function changeautotrans() {
            document.getElementById("autotrans").removeAttribute("checked"); 
            }
    </script>
    {% else %}
    <script>
        function changeautotrans() {
            // pass (added to avoid errors)
            }
    </script>
    {% endif %}

    <!--implement swap to user default settings-->
    <script>
        window.onload=function(){
            changeoriginlang();
            changetargetlang();
            changeautotrans();
            }
    </script>

{% endblock %}