{% extends "layout.html" %}

{% block title %}
    Input
{% endblock %}

{% block main %}
    <h1>Type in word/phrase for translation and addition.</h1>
    <!--TODO: design logic for defaults (might need JS)-->
    <form action="/input" method="post" class="row row-cols-lg-auto g-3 align-items-center">
        <div class="container-sm align-items-center">
            <div class="form-group align-items-center">
                <br><br><br>
                <input autocomplete="off" autofocus class="form-control" name="textinput" placeholder="Add Word/Phrase" type="text">
                <br><br><br>
                <!-- if/else logic for default input language, because cbf to use JS-->
                {% if session.user_orglang == "en" %}
                    <div class="dropdown">
                        <select class="form-select" aria-label="Input Language" name="originlang">
                            <option selected value="en">English [en]</option>
                            <option value="ja">Japanese [ja]</option>
                            <option value="eo">Esperanto [eo]</option>
                        </select>
                    </div>
                {% elif session.user_orglang == "ja" %}
                <div class="dropdown">
                    <select class="form-select" aria-label="Input Language" name="originlang">
                        <option value="en">English [en]</option>
                        <option selected value="ja">Japanese [ja]</option>
                        <option value="eo">Esperanto [eo]</option>
                    </select>
                </div>
                {% else %}
                <div class="dropdown">
                    <select class="form-select" aria-label="Input Language" name="originlang">
                        <option value="en">English [en]</option>
                        <option value="ja">Japanese [ja]</option>
                        <option selected value="eo">Esperanto [eo]</option>
                    </select>
                </div>
                {% endif %} 
                <!-- if/else logic for default translated language, because cbf to use JS-->
                {% if session.user_translang == "en" %}
                <div class="dropdown">
                    <select class="form-select" aria-label="Translation Language" name="targetlang">
                        <option selected value="en">English [en]</option>
                        <option value="ja">Japanese [ja]</option>
                        <option value="eo">Esperanto [eo]</option>
                    </select>
                </div>
                {% elif session.user_translang == "en" %}
                <div class="dropdown">
                    <select class="form-select" aria-label="Translation Language" name="targetlang">
                        <option value="en">English [en]</option>
                        <option selected value="ja">Japanese [ja]</option>
                        <option value="eo">Esperanto [eo]</option>
                    </select>
                </div>
                {% else %}
                <div class="dropdown">
                    <select class="form-select" aria-label="Translation Language" name="targetlang">
                        <option value="en">English [en]</option>
                        <option value="ja">Japanese [ja]</option>
                        <option selected value="eo">Esperanto [eo]</option>
                    </select>
                </div>
                {% endif %} 
                <!-- if/else logic for default translation option, because cbf to use JS-->
                {% if session.user_autotrans %}
                <div class="form-group align-items-center">
                    <div class="form-check form-switch">
                        <label class="form-check-label" for="check_autotrans">Translate input?</label>
                        <input class="form-check-input" type="checkbox" id="check_autotrans" value="true" name="autotrans" checked>                    
                    </div>
                </div>
                {% else %}
                <div class="form-group align-items-center">
                    <div class="form-check form-switch">
                        <label class="form-check-label" for="check_autotrans">Translate input?</label>
                        <input class="form-check-input" type="checkbox" id="check_autotrans" value="true" name="autotrans">                    
                    </div>
                </div>
                {% endif %} 
            </div>
            <br><br>
            <button class="btn btn-primary" type="submit">Add Word</button>
        </div>        
    </form>
{% endblock %}
