{% extends "layout.html" %}

{% block title %}
    Preview Edit
{% endblock %}

{% block main %}
    <h1>Confirm Deletion of Word/Phrase Entry?</h1>
    <br>

    <table align="center" id="topsaved" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Input Word/Phrase</th>
                <th>Input Language</th>
                <th>Translated Word/Phrase</th>
                <th>Translated Language</th>
                <th>Date/Time Saved</th>
                <th>Difficulty Rating</th>                
                <th>Entry Pinned?</th>                
                <!--
                <th>Entry Edited?</th>
                -->
            </tr>
        </thead>
        <tbody>
            {% for shadowcopy in shadowcopy %}
            <tr>
                <td> {{ shadowcopy.shastrinput }}  </td>
                <td> {{ shadowcopy.shalanginput }} </td>
                <td> {{ shadowcopy.shastrtrans }} </td>
                <td> {{ shadowcopy.shalangtrans }} </td>                
                <td> 
                    <time datetime="{{ shadowcopy.shatime }}">
                        {{ shadowcopy.shatime }}                          
                    </time>
                </td>
                <td> {{ shadowcopy.sharating }} </td>                
                <td> {{ shadowcopy.shapin }} </td>
                <!--
                <td> {{ shadowcopy.shaedit }} </td>
                -->
            </tr>         
        </tbody>
    </table>
    <br><br>

    <form action="/revision" method="post">
        <button type="submit" name="confirmedit" class="btn btn-info" value="{{shadowcopy.shawordid}}">Confirm Edit Entry</button>
    </form>
    {% endfor %}
    <br>
    
    <!--dynamic cancel action-->
    <form action="{{session.last_page}}" method="get">
        <button type="submit" class="btn btn-secondary">Cancel Action</button>
    </form> 
        
{% endblock %}