{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}
    <h1>Currently Logged In As: {{ session.user_name }}</h1>
    <br><br>
    <h1>Memopad Statistics for {{ session.user_name }}</h1>
    <br>
    <table align="center" class="table table-bordered" style="width:40%">
        <thead>
            <tr>
                <th>Default Original Language: </th>
                <th> {{ session.user_orglang }} </th>
            </tr>
            <tr>
                <th>Default Target Language: </th>
                <th> {{ session.user_tgtlang }} </th>
            </tr>    
        </thead>
    </table>
    <br><br>    
    <div>
        <h1>Profile Options</h1>
        <a class="btn btn-secondary" href="/changepw">Change Account Password</a>
    </div>
    <!--TODO: add /profile form-->


{% endblock %}
