{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}
    <h1>Currently Logged In As:</h1>
    <h2>{{ session.user_name }}</h2>
    <br>

    <table align="center" class="table table-bordered" style="width:40%">
        <thead>
            <tr>
                <th>Default Original Language: </th>
                <td> {{ all_languages[session.user_orglang] }} </td>
            </tr>

            <tr>
                <th>Default Target Language: </th>
                <td> {{ all_languages[session.user_tgtlang] }} </td>
            </tr>
            
            <tr>
                <th>Auto-Translate: </th>
                <td> {{ session.user_autotrans }} </td>
            </tr> 
            
            <tr>
                <th>Default Visible Pinned Entries : </th>
                <td> {{ session.user_recallpinned }} </td>
            </tr> 
            
            <tr>
                <th>Default Visible All Entries : </th>
                <td> {{ session.user_recallall }} </td>
            </tr>   
        </thead>
    </table>
    <br>

    <div>
        <a class="btn btn-secondary" href="/changedefault">Change Default Settings</a>
    </div>
    <br>

    <div>
        <a class="btn btn-secondary" href="/changepw">Change Account Password</a>        
    </div>
    <br>

{% endblock %}
