{% extends "layout.html" %}

{% block title %}
    Recall All Entries
{% endblock %}

{% block main %}
    <script>
        $(document).ready(function() {
            $('#allsaved').DataTable( {
                columnDefs: [
                    // columns 7-9 : PIN/UNPIN ENTRY, EDIT ENTRY, DELETE ENTRY
                    { orderable: false, targets: [7,8,9] },
                    { "width": "7%", "targets": [7,8,9] }                      
                ]   
            } );
        } );
    </script>

    <h1>All Saved Word/Phrase Entries</h1>
    <br>
    <table align="center" class="table table-bordered" style="width:40%">
        <thead>
            <tr>
                <th>Total Word/Phrase Entry Count: </th>
                <th> {{ session.user_wordcount }} </th>
            </tr>    
        </thead>
    </table>
    <br>
    
    <table align="center" id="allsaved" class="table table-striped table-bordered" data-page-length="{{ session.user_recallall }}">
        <thead>
            <tr>
                <th>Input Word/Phrase</th>
                <th>Input Language</th>
                <th>Translated Word/Phrase</th>
                <th>Translated Language</th>
                <th>Date/Time Saved</th>
                <th>Difficulty Rating</th>
                <th>Entry Pinned?</th>
                <!--
                <th>Entry Edited?</th>
                -->
                <th>UNPIN</th>                
                <th>EDIT</th>
                <th>DELETE</th>
            </tr>
        </thead>
        <tbody>
            {% for fullvocabtable in fullvocabtable %}
            <tr>
                <td> {{ fullvocabtable.strinput }}  </td>
                <td> {{ all_languages[fullvocabtable.langinput] }} </td>
                <td> {{ fullvocabtable.strtrans }} </td>
                <td> {{ all_languages[fullvocabtable.langtrans] }} </td>                
                <td> 
                    <time datetime="{{ fullvocabtable.time }}">
                        {{ fullvocabtable.time }}                          
                    </time>
                </td>
                <td> {{ fullvocabtable.rating }} </td>
                <td> {{ fullvocabtable.pin }} </td>
                <!--
                <td> {{ fullvocabtable.edit }} </td>
                -->
                {% if fullvocabtable.pin %}
                <td>  
                    <form action="/unpinentry" method="post">
                        <button type="button" name="unpinword" class="btn btn-outline-danger"  data-bs-toggle="modal" data-bs-target="#unpinmodal{{fullvocabtable.wordid}}">-</button>                        
                        <!-- Pop-up Modal -->
                        <div class="modal fade" id="unpinmodal{{fullvocabtable.wordid}}" tabindex="-1" aria-labelledby="unpinmodallabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="unpinmodalheader">Confirm Unpin</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>Input Word/Phrase</th>
                                                    <th>Input Language</th>
                                                    <th>Translated Word/Phrase</th>
                                                    <th>Translated Language</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td> {{ fullvocabtable.strinput }}  </td>
                                                    <td> {{ all_languages[fullvocabtable.langinput] }} </td>
                                                    <td> {{ fullvocabtable.strtrans }} </td>
                                                    <td> {{ all_languages[fullvocabtable.langtrans] }} </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>                                        
                                        <button type="submit" class="btn btn-outline-danger" name="recallallunpinentry" value="{{fullvocabtable.wordid}}">Unpin Entry</button>                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </td>
                {% else %}
                <td>  
                    <form action="/pinentry" method="post">
                        <button type="button" name="pinword" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#pinmodal{{fullvocabtable.wordid}}">+</button>                        
                        <!-- Pop-up Modal -->
                        <div class="modal fade" id="pinmodal{{fullvocabtable.wordid}}" tabindex="-1" aria-labelledby="pinmodallabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="pinmodalheader">Confirm Pin</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>Input Word/Phrase</th>
                                                    <th>Input Language</th>
                                                    <th>Translated Word/Phrase</th>
                                                    <th>Translated Language</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td> {{ fullvocabtable.strinput }}  </td>
                                                    <td> {{ all_languages[fullvocabtable.langinput] }} </td>
                                                    <td> {{ fullvocabtable.strtrans }} </td>
                                                    <td> {{ all_languages[fullvocabtable.langtrans] }} </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>                                        
                                        <button type="submit" class="btn btn-outline-success" name="recallallpinentry" value="{{fullvocabtable.wordid}}">Pin Entry</button>                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </td>
                {% endif %}
                <td>  
                    <form action="/editentry" method="post">
                        <button type="submit" name="editword" class="btn btn-info" value="{{fullvocabtable.wordid}}">!</button>
                    </form>
                </td>                
                <td>  
                    <form action="/deletion" method="post">
                        <button type="button" name="pinword" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteallsavedmodal{{fullvocabtable.wordid}}">X</button>                        
                        <!-- Pop-up Modal -->
                        <div class="modal fade" id="deleteallsavedmodal{{fullvocabtable.wordid}}" tabindex="-1" aria-labelledby="deleteallsavedmodallabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="pinmodalheader">Confirm Delete</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>Input Word/Phrase</th>
                                                    <th>Input Language</th>
                                                    <th>Translated Word/Phrase</th>
                                                    <th>Translated Language</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td> {{ fullvocabtable.strinput }}  </td>
                                                    <td> {{ all_languages[fullvocabtable.langinput] }} </td>
                                                    <td> {{ fullvocabtable.strtrans }} </td>
                                                    <td> {{ all_languages[fullvocabtable.langtrans] }} </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                        <button type="submit" class="btn btn-danger" name="deleteword" value="{{fullvocabtable.wordid}}">Delete Entry</button>                                                                                
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    
    <form action="/" method="get" class="row row-cols-lg-auto g-3 align-items-center">
        <div class="container-sm align-items-center">            
            <br>
            <button class="btn btn-secondary" type="submit">Return to Homepage</button>
        </div>
    </form>
    <br>

{% endblock %}