{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <h1>Register an account</h1>
    <br>
    <form action="/register" method="post" class="row row-cols-lg-auto g-3 align-items-center">
        <div class="container-sm align-items-center">
            <div class="form-group">
                <label for="username">
                    <h5>Username</h5>                    
                </label>
                <br>
                <input autocomplete="off" autofocus class="form-control" id="username" name="username" placeholder="Username" type="text" required>
            </div>
            <br>
            <div class="form-group">
                <label for="password">
                    <h5>Password</h5>
                </label>
                <br>
                <input class="form-control" id="password" name="password" placeholder="Password" type="password" required>
            </div>
            <br>
            <div class="form-group">
                <label for="repeat-password">
                    <h5>Repeat Password</h5>
                </label>
                <br>
                <input class="form-control" id="repeat-password" name="confirmation" placeholder="Repeat Password" type="password" required>
            </div>
            <br>
            <div class="form-group align-items-center">
                <div class="dropdown">
                    <label for="originlang">
                        <h5>Select Default<br>Input Language</h5>                        
                    </label>
                    <br>
                    <select class="form-select" aria-label="Input Language" name="originlang" id="originlang">
                        <option selected disabled>Default Input Language</option>
                        <option value="en">English [en]</option>
                        <option value="ja">Japanese [ja]</option>
                        <option value="eo">Esperanto [eo]</option>
                    </select>
                </div>
            </div>
            <br>                        
            <div class="form-group align-items-center">
                <div class="dropdown">
                    <label for="targetlang">
                        <h5>Select Default<br>Translation Language</h5>                        
                    </label>
                    <br>
                    <select class="form-select" aria-label="Translation Language" name="targetlang" id="targetlang">
                        <option selected disabled>Default Translation Language</option>
                        <option value="en">English [en]</option>
                        <option value="ja">Japanese [ja]</option>
                        <option value="eo">Esperanto [eo]</option>
                    </select>
                </div>
            </div>
            <!-- NOTE: code block below is the "proper" variant to use, but disabled for now to stick to 3 languages for the meantime
            <div class="form-group align-items-center">
                <div class="dropdown">
                    <label for="originlang">
                        <h5>Select Default<br>Original/Input Language</h5>                        
                    </label>
                    <br>
                    <select class="form-select" aria-label="Input Language" name="originlang" id="originlang">
                        <option selected disabled>Default Input Language</option>
                        {% for key in all_languages.keys() %}
                            <option value="{{key}}">{{  all_languages[key]}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group align-items-center">
                <div class="dropdown">
                    <label for="targetlang">
                        <h5>Select Default<br>Translation Language</h5>
                        <br>
                    </label>
                    <select class="form-select" aria-label="Translation Language" name="targetlang" id="targetlang">
                        <option selected disabled>Default Translation Language</option>
                        {% for key in all_languages.keys() %}
                            <option value="{{key}}">{{  all_languages[key]}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            -->
            <br>
            <div class="form-group align-items-center">
                <div class="form-check form-switch">
                    <label class="form-check-label" for="check_autotrans">
                        <h5>Automatically translate input?</h5>
                    </label>
                    <input class="form-check-input" type="checkbox" id="check_autotrans" value="true" name="autotrans" checked>                    
                </div>
            </div>
            <br>
            <button class="btn btn-primary" type="submit">Register</button>
        </div>
    </form>

{% endblock %}