{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <h1>Select stock to sell and amount</h1>
    <form action="/sell" method="post">
        <div class="form-group">
            <select class="form-select" name="symbol">
              <option disabled selected value="">Select Stock To Sell</option>
                  {% for user_held in user_held %}
                      <option value="{{user_held.stock_symbol}}|{{user_held.now_id}}">{{ user_held.stock_name }} ({{ user_held.stock_amount }})</option>
                  {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="shares" placeholder="Amount" type="number" min="1" step="1">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
